extends layout

block content
	h1 #{title}
	form(method='POST', action='/comments/add')
		#form-group
			label Title:
			input.form-control(name='title', type='text')
		#form-group
			labe Body:
			textarea.form-control(name='body')
		br
		input.btn.btn-primary(type='submit',value='Sumit')
